h1.heading {
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    font-family: Poppins, sans-serif;
    margin-bottom: 10px;
 }

 p.heading.p__color {
    margin-bottom: 0;
    text-align: center;
    line-height: 1.2;
 }


 .service__box {
    border-radius: 10px;
    width: 100%;
    height: 250px;
    background-color: #191919;
    padding: 20px;
    transform: translateY(5px);
    background-image: linear-gradient(90deg, #f0362c, #f11f70);
    opacity: 30;
 }

 .service__box .icon {
    color: #fff;
 }

 .service__box:hover p.service__text .p__color {
          color: #fff !important;
 }

 .icon {
    font-size: 54px;
    font-weight: 400;
    margin-bottom: 23px;
    display: inline-flex;
    color: #f9004d;
 }

 p.service__text.p__color {
    margin-bottom: 0;
 }

 h1.service__text {
    font-size: 19px;
    font-family: Poppins, sans-serif;
    padding: 10px 0px;
 }

